body{
    text-align: center;
    color: chartreuse;
}
#app{
    background-color: chocolate;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#game{
    background-color: aquamarine;

}
#chatbot{
    background: linear-gradient(rgb(60, 204, 60),rgb(187, 21, 202),rgb(255, 0, 0));
}
img{
    margin: 20px;
}